form {
	border-color: black;
	border-style: solid;
	border-width:10px;
	padding-bottom: 10px;
	-moz-border-radius: 15px;
    border-radius: 15px;
    background-color: white;
	margin: 0 auto; 
	width:400px;
}